{{!
    @template theme_rak/head_extra
    @copyright 2024 RAK Theme
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    Extra <head> content: Google Fonts preconnect + Inter import.
    Included by the columns2.mustache layout.
}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">
<meta name="theme-color" content="#6C63FF">
